@media (min-width: 992px) and (max-width: 1110px) {	
	.nav {
		width: 100%;
		margin: 0% 0% 0% 0%;
	}
	.logo {
		width: 19%;
		padding-left: 17px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {	
	.nav {
		width: 100%;
		margin: 0% 0% 0% 0%;
	}
	.logo {
		width: 19%;
		padding-left: 17px;
	}
	.menu li {
		margin-right: 10px;
	}
	.menu li:nth-child(n + 5) {
		display: none;
	}
	.menu li:last-child {
		display: inline;
	}
	.btn-dropdown .dropdown-content a:nth-last-child(n + 4) {
		display: none;
	}
	#col {
		display: inline-block;
		cursor: pointer;
	}
	.container {
		height: auto;
	}
	#servise-head {
		width: 70%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.nav {
		width: 100%;
		margin: 0% 0% 0% 0%;
	}
	.logo {
		width: 19%;
		padding-left: 17px;
	}
	.menu {
		height: 40px;
	}
	.menu li {
		display: none;
		margin-right: 10px;
	}
	.menu li:last-child {
		display: inline;
	}
	.dropdown-content {
		top: 56px;
		width: 200px;
	}
	.btn-dropdown .dropdown-content::after {
    	margin-left: 160px;
	}
	#col {
		display: inline-block;
		cursor: pointer;
	}
	.container {
		height: auto;
	}
	.text1 {
		top: 40%;
		padding: 3px 10px 4px 10px;
		font-size: 40px;
	}
	.text2 {
		top: 57%;
		width: 400px;
		padding: 6px 10px 10px 10px;
		font-size: 13px;
	}
	.prev, .next {
	    top: 50%;
	    margin-top: -22px;
	    padding: 9px 10px 9px 10px;
	}
	#servise-head {
		width: 100%;
	}
	.view {
		float: left;
	}
	.bottom-servise {
		margin-top: 80px;
	}
	.top-content h1{
		font-size: 35px;
	}
	.left-img {
		width: 70%;
		left: 15%;
		margin: 30px auto;
		margin-bottom: 0px;
		padding: 0px 6px 6px 6px;
		border-radius: 10px;
	}
	.l-inner {
		border-radius: 10px;
	}
	.center-img {
		width: 70%;
		left: 15%;
		margin: 30px auto;
		margin-bottom: 0px;
	}	
	.right-img {
		width: 70%;
		left: 15%;
		margin: 30px auto;
		margin-bottom: 0px;
		padding: 0px 6px 6px 6px;
		border-radius: 10px;
	}
	.r-inner {
		margin-top: 45px;
		border-radius: 10px;
	}
	.bot-content {
		overflow: hidden;
	}
	.causes {
		width: 100%;
	}
	.skills {
		width: 100%;
		text-align: center;
	}
	.skills p {
		margin-left: 1.7%;
		margin-bottom: 40px;
		text-align: left;
	}
	.testemoials {
		width: 100%;
	}
	.testemoials h2 {
		margin-top: 20px;
		margin-left: 1.7%;
	}
	.testemoials h3 {
		margin-right: 20px;
		text-align: right;
	}
	.customer .photo {
		width: 30%;
	}
	.customer .photo-last {
		display: none;
	}
	.contacts{
		width: 47%;
	}
	.company {
		width: 24%;
	}
	#blog {
		width: 100%;
	}
}
@media (min-width: 480px) and (max-width: 650px) {
	.skills img {
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
	}
	.skills p {
		margin-bottom: 20px;
	}
}
@media (max-width: 479px) {
	.nav {
		margin: 0% 0% 0% 0%;
		width: 100%;
	}
	.logo {
		float:left;
		width: 19%;
		margin-top: 8px;
		padding-left: 17px;
	}
	.menu {
		height: 40px;
	}
	.menu li {
		display: none;
		margin-right: 10px;
	}
	.menu li:last-child {
		display: inline;
	}
	.dropdown-content {
		top: 56px;
		width: 200px;
	}
	.btn-dropdown .dropdown-content::after {
    	margin-left: 160px;
	}
	#col {
		display: inline-block;
		cursor: pointer;
	}
	.container {
		height: auto;
	}
	.text1 {
		top: 37%;
		padding: 3px 10px 4px 10px;
		font-size: 25px;
	}
	.text2 {
		display: none;
	}
	.prev, .next {
	    top: 50%;
	    margin-top: -22px;
	    padding: 5px 7px 5px 7px;
	}
	.top-servise h1 {
		font-size: 25px;
	}
	#servise-head {
		width: 100%;
	}
	.view {
		float: left;
	}
	.top-content h2 {
		font-size: 27px;
	}
	.left-img {
		width: 100%;
		margin: 30px auto;
		margin-bottom: 0px;
		padding: 0px 6px 6px 6px;
		border-radius: 10px;
	}
	.l-inner {
		border-radius: 10px;
	}
	.center-img {
		width: 100%;
		margin: 30px auto;
		margin-bottom: 0px;
	}	
	.right-img {
		width: 100%;
		margin: 30px auto;
		margin-bottom: 0px;
		padding: 0px 6px 6px 6px;
		border-radius: 10px;
	}
	.r-inner {
		margin-top: 45px;
		border-radius: 10px;
	}
	.bot-content {
		overflow: hidden;
	}
	.causes {
		width: 100%;
	}
	.skills {
		width: 100%;
		text-align: center;
	}
	.skills img {
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
	}
	.skills p {
		margin-bottom: 20px;
		text-align: left;
	}
	.testemoials {
		width: 100%;
	}
	.testemoials h2 {
		margin-top: 20px;
		margin-left: 1.7%;
	}
	.testemoials h3 {
		margin-right: 20px;
		text-align: right;
	}
	.customer .photo {
		width: 49%;
	}
	.customer .photo:nth-child(3) {
		display: none;
	}
	.customer .photo-last {
		display: none;
	}
	.contacts{
		width: 100%;
	}
	.company {
		width: 50%;
	}
}